# Environment Variables
.env

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads directory (Do not commit user business documents/images)
uploads/

# OS/Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
